APP_VERSION=
APP_NAME=
APP_PORT=
NODE_ENV=

## REDIS CONFIG - FOR VERIFY and LOAD OAUTH INFO
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASS=
REDIS_TLS=
REDIS_USER

# REDIS CLUSTER CONFIG - FOR VERIFY and LOAD OAUTH INFO
REDIS_CLUSTER_TLS=
REDIS_CLUSTER_HOST=
REDIS_CLUSTER_PORT=
REDIS_CLUSTER_DB=
REDIS_CLUSTER_PASS=

## DB CONFIG - STORE NOTIFICATION MESSAGE
DB_HOST_RO=
DB_PORT_RO=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# GRAYLOG
LOG_GRAYLOG_HOST=
LOG_GRAYLOG_PORT=
LOG_GRAYLOG_BUFFERSIZE=


WS_SECRET_KEY=er9MRwLmDQ7PH
WS_TOKEN_EXPIRED_TIME = '60m'
WS_SERVER_KEY='dev-thieu'


# RABBIT
RABBIT_MQ_HOST=
RABBIT_MQ_USER=
RABBIT_MQ_PORT=
RABBIT_MQ_PASS=
RABBIT_MQ_QUEUE=

# APNS
PUSH_NOTIFY_KEY_PATH=
KEY_MAP_PUSH_NOTIFY_IPAD=
KEY_MAP_VOIP_NOTIFY_IPAD=
KEY_MAP_PUSH_NOTIFY_IPHONE=
KEY_MAP_VOIP_NOTIFY_IPHONE=

# Custom Auth
WS_SECRET_KEY=er9MRwLmDQ7PH
WS_TOKEN_EXPIRED_TIME = '60m'